* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: "Raleway", sans-serif;
}

.page {
    display: flex;
    align-items: center;
}

.left-menu {
    width: 500px;
    background-color: #f0f6ff;
    text-align: center;
    padding: 50px 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    min-height: 100vh;

}
.id-img {
    width: 40%;
    border-radius: 50%;
    margin-bottom: 15px;
}

h2 {
    margin-bottom: 5px;
    font-family: "Playfair Display", serif;
    font-size: 24px;
}

.location {
    margin-bottom: 50px;
    font-size: 10px;
    font-weight: 500;
}

ul {
    padding-left: 0;
    margin-bottom: 20px;
}

li {
    list-style: none;
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 13px;
    letter-spacing: 1px;
}
li:first-child{
    text-decoration: underline;
    color: #7777ff;
}
.copyright {
    font-size: 12px;
    color: #777;
    margin: 40px 0px;
    padding: 0 30px;
}

.main-view {
    padding: 60px;
    text-align: left;
}

h1 {
    font-size: 48px;
    font-family: "Playfair Display", serif;
    margin-bottom: 10px;
}

.main-view p {
    font-size: 16px;
    margin-bottom: 20px;
}

.portfolio-button {
    padding: 15px 25px;
    background-color: #ffffff;
    color: #000;
    border: 2px solid black;
    border-radius: 6px;
}

.right-side-img {
   margin-right: 2rem;
   margin-top:12rem;
}

.big-img {
   width:700px;
}
a{
    color:#7777ff;
}